.main-content{
  display: flex;
  width: 100%;
  font-family: 'Yantramanav', sans-serif;
  background-color: whitesmoke;
}

.col-4{width: 25%;}
.col-2{width: 50%;}

#tab-container{margin-top: 75px;}

#tab-container > div{
  padding: 10px;
  max-width: 50%;
  margin: 0 0 20px 0;
  box-shadow: 0 2px 3px 1px grey;
  transition: .3s;
  font-weight: bold;
}

#tab-container > div:hover{
  margin: 0 0 20px 20px;
  cursor: pointer;
}

#schedule-tab{background-color: #DCC48E;}
#harvest-tab{background-color: rgba(94, 140, 97, 1);}
#seeding-tab{background-color: rgba(204, 221, 183, 1);}
#planting-tab{background-color: rgba(126, 163, 204, 1);}
#field-tab{background-color: rgba(204, 173, 143, 1);}

.container{
  margin-top: 75px;
  width: 95%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 3px lightgrey;
}

#week-cal{
  display: flex;
  justify-content: space-around;
}

.c-banner{
  width: 100%;
  background-color: #3c3c3c;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  color: #94dd2f;
  box-shadow: 0 0 1px 1px #3c3c3c;
}

.title{
  margin-left: 10px;
  font-size: 19px;
  padding: 2px;
}
.day{
  height: 100px;
  width: 120px;

  margin: 20px 0 20px 0;
}

#day-description{
  width: 95%;
  height: 100px;

}

#forecast{
  display: flex;

  justify-content: space-around;
}

.fday{
  width: 150px;
  height: 100px;
  margin-top: 20px;
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
}

.ftemp{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#weather-description{
  width: 50%;
  height: 50px;
  padding: 10px;
  align-self: center;

}
#wd1, #wd2, #wd3{display: none;}
