*{
  padding: 0;
  margin: 0;
  border: 0;
}

.navBar{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75px;

}

.banner{
  display: flex;
  width: 100%;
  background-color: #d8d8d8;
  justify-content: space-between;
  font-size: 15px;
  height: 35px;
}

.banner > h3{
  padding: 5px 0 0 30px;
}

.banner > div{
  padding: 5px 30px 0 0;
}
.menu{
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: #3c3c3c;
  height: 40px;
  color: #94DD2f;
}

.menu > * {
  height: 37px;
  line-height: 37px;
  vertical-align: middle;
  background-color: #3c3c3c;
  width: 100px;
  text-align: center;
  transition: .3s;
  border-top: 3px solid #3c3c3c;
}

.menu > div:hover{
  background-color: white;
  cursor: pointer;
}
